body {
  font-family: helvetica;
  background-color: #efefef;
  color: #292030;
}

img {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  height: 300px;
}

span {
  font-weight: bold;
}

.about {
  font-weight: lighter;
  font-size: 19px;
  height: 300px;
}

.column {
  width: 600px;
  float: left;
}

.projects {
  font-weight: lighter;
  font-size: 15px;
}

h1 {
  align: center;
}
